html, body {
    background-color: #f1f1f1;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    margin: 0 auto;
    width: 80%;
    height: auto;
    background-color: white;
}

.post {
    margin: 0 auto;
    width: 40%;
    font-family: 'Lora', serif;
    padding-bottom: 2em;
    text-align: justify;
}

.post-title {
    font-family: 'Montserrat', sans-serif;
    padding: 1em 0 0.5em 0;
    font-size: 2.5em;
}

.post-info {
    font-size: .9em;
    text-transform: uppercase;
    padding: 0 0 1em 0;
}

.post-article {
    text-align: justify;

}

#post-author {
    font-style: italic;
    text-transform: capitalize;
}